@import './../../scss/global.scss';

.our-projects {
  @include contentWidth;
  margin: 100px auto;

  &__title {
    @include sectionTitle;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
