@import './../../scss/global.scss';

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 300px;
  gap: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &:hover {
    transform: scale(1.05);
  }

  &__img {
    min-width: 450px;
    height: 300px;
    background-size: contain;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: $footerColor;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
  }

  &__description {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
  }
}
