@import './../../scss/global.scss';

.about {
  max-width: min(1236px, 90%);
  width: 100%;
  margin: 100px auto;

  &__title {
    @include contentWidth;
    @include sectionTitle;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1082px;
    // height: 100%;
  }

  &__left-side {
    max-width: min(416px, 40%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__link {
    text-decoration: none;
    color: $secondBGColor;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.92px; /* 136% */
  }

  &__right-side {
    max-width: min(622px, 55%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__figure {
    margin: 0;
  }

  &__img-studio {
    max-width: 416px;
    width: 100%;
  }

  &__img-architector {
    margin-top: 185px;
    max-width: 622px;
    width: 100%;
  }

  &__img-text {
    color: $secondBGColor;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    margin: 28px 0 0;
  }

  &__text {
    color: $secondBGColor;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.92px; /* 136% */
    margin: 0;
    max-width: 610px;
  }
}

@media screen and (max-width: 1100px) {
  .about {
    margin: 100px auto;
    &__title {
      margin-left: 0;
    }

    &__content {
      min-height: 800px;
    }

    &__links {
      gap: 12px;
    }

    &__link {
      font-size: 20px;
      line-height: 136%;
    }

    &__img-architector {
      margin-top: 135px;
    }

    &__img-text {
      font-size: 12px;
      line-height: 18px;
      margin: 18px 0 0;
    }

    &__text {
      font-size: 18px;
      line-height: 136%;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin: 40px auto;

    &__content {
      flex-direction: column-reverse;
      align-items: center;
      gap: 18px;
      width: 100%;
    }

    &__left-side {
      max-width: 800px;
      width: 100%;
      align-items: center;
    }

    &__links {
      gap: 12px;
      margin-top: 18px;
      align-items: center;
    }

    &__link {
      font-size: 20px;
      line-height: 136%;
    }

    &__right-side {
      margin: 0;
      max-width: 800px;
    }

    &__figure {
      max-width: 800px;
    }

    &__img-architector {
      margin-top: 18px;
      max-width: 800px;
      width: 100%;
    }

    &__img-text {
      font-size: 12px;
      line-height: 18px;
      margin: 10px 0 0;
      text-align: center;
    }

    &__text {
      font-size: 18px;
      line-height: 136%;
      margin-top: 18px;
    }
  }
}
