@import './../../scss/global.scss';

.promo {
  width: 100%;
  height: 720px;
  position: relative;
  &__text {
    max-width: 1016px;
    max-height: 383px;
    width: 100%;
    margin: 0 auto;
    color: $mainTextColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 71px;
    padding: 168px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__title {
    font-size: 125px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.2px; /* 92.16% */
    letter-spacing: 7px;
    margin: 0;
  }

  &__subtitle {
    margin: 0;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 129.73% */
    letter-spacing: 0.7px;
  }

  &__logo {
    color: $mainTextColor;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; /* 230.769% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
    position: absolute;
    left: 30px;
    top: 120px;
  }
}

.image {
  background-image: url('./../../images/promo_img.svg');
  background-repeat: no-repeat;
  width: 631px;
  height: 497px;
  position: absolute;
  right: 0px;
  top: 30px;

  &__triangle {
    width: 196px;
    height: 196px;
    background-image: url('./../../images/triangle.svg');
    position: absolute;
    top: 187px;
    left: 219px;
  }

  &__circle {
    left: 290px;
    top: 270px;
  }
}
