@import './../../scss/global.scss';

.researches {
  @include contentWidth;
  margin: 100px auto;
  &__title {
    @include sectionTitle;
  }

  &__text {
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    color: $footerColor;
  }
}
