@import './../../scss/global.scss';

.recent-project {
  @include contentWidth;
  margin: 100px auto;

  &__title {
    @include sectionTitle;
  }
}

.swiper {
  //   max-width: 1100px;
  //   width: 100%;
  //   height: 100%;
  // var(--swiper-pagination-color) = $mainTextColor;
  // --swiper-pagination-bullet-inactive-color: #999999;
  // --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 6px;

  & .swiper-button-prev {
    color: $mainTextColor;
  }
  & .swiper-button-next {
    color: $mainTextColor;
  }

  & .swiper-pagination-bullet-active {
    background-color: $mainTextColor;
  }

  &__slide {
    //   width: 80%;
    // max-width: 1016px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    // background: #fff;
    color: $mainTextColor;
    overflow: hidden;

    /* Center slide text vertically */
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__slide img {
    // justify-content: center;
    // align-items: center;
    display: block;
    margin: 0 auto;
    //   width: 80%;
    max-width: 1016px;
    max-height: 500px;
    width: 100%;
    // height: 100%;
    object-fit: cover;
  }

  &__text {
    font-size: 16px;
    margin: 0;
    line-height: 18px;
    font-weight: 600;
    max-width: 250px;
    background-color: $whiteTransparent;
    color: $mainTextColor;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    text-align: left;
    z-index: 2;

    &-item {
      margin: 10px 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
    }
    &-link {
      color: $mainTextColor;
      text-decoration: none;
      font-weight: 800;
    }

    &_top-left {
      top: 20px;
      left: 60px;
    }
    &_top-right {
      top: 20px;
      right: 60px;
    }
    &_bottom-left {
      bottom: 30px;
      left: 60px;
    }
    &_bottom-right {
      bottom: 30px;
      right: 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .recent-project {
    margin: 40px auto;
  }

  .swiper {
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-horizontal-gap: 4px;

    &__slide img {
      max-height: 330px;
    }

    &__text {
      font-size: 12px;
      line-height: 12px;
      max-width: 200px;
      padding: 5px;

      &-item {
        margin: 5px 0;
      }
    }
  }
}
