@import './../../scss/global.scss';

.text-ring {
  position: relative;
}
.text-ring [style*='--char-index'] {
  font-size: 1.7rem;
  font-weight: 700;
  color: $mainTextColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(calc(360deg / var(--total) * var(--char-index)))
    translateY(calc(var(--radius, 5) * -1ch));
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
  to {
    rotate: 360deg;
  }
}
