@import './../scss/global.scss';

// * {
//   outline: 1px solid red;
// }
html {
  scroll-behavior: smooth;
  
}

.app {
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  // position: sticky;
  // bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
