@import './../scss/global.scss';

// * {
//   outline: 1px solid red;
// }
html {
  scroll-behavior: smooth;
  :target {scroll-margin-top: 100px;}
}

.app {
  background-color: $mainBGColor;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  // height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}


@media screen and (max-width: 768px) {
  html {
    :target {scroll-margin-top: 40px;}
  }
  
}